<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FileDashBoard</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetTheCountOfFilesServlet</display-name>
    <servlet-name>GetTheCountOfFilesServlet</servlet-name>
    <servlet-class>org.quinnox.controller.GetTheCountOfFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTheCountOfFilesServlet</servlet-name>
    <url-pattern>/GetTheCountOfFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFileListServlet</display-name>
    <servlet-name>GetFileListServlet</servlet-name>
    <servlet-class>org.quinnox.controller.GetFileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileListServlet</servlet-name>
    <url-pattern>/GetFileListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateLoginCredentials</display-name>
    <servlet-name>ValidateLoginCredentials</servlet-name>
    <servlet-class>org.quinnox.controller.ValidateLoginCredentials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLoginCredentials</servlet-name>
    <url-pattern>/ValidateLoginCredentials</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>BIRT_VIEWER_WORKING_FOLDER</param-name>
    <param-value>report</param-value>
  </context-param>
  <context-param>
    <param-name>WORKING_FOLDER_ACCESS_ONLY</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>URL_REPORT_PATH_POLICY</param-name>
    <param-value>domain</param-value>
  </context-param>
  <context-param>
    <param-name>BIRT_VIEWER_CONFIG_FILE</param-name>
    <param-value>WEB-INF/viewer.properties</param-value>
  </context-param>
  <context-param>
    <param-name>BIRT_VIEWER_PRINT_SERVERSIDE</param-name>
    <param-value>ON</param-value>
  </context-param>
  <context-param>
    <param-name>HTML_ENABLE_AGENTSTYLE_ENGINE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>BIRT_FILENAME_GENERATOR_CLASS</param-name>
    <param-value>org.eclipse.birt.report.utility.filename.DefaultFilenameGenerator</param-value>
  </context-param>
  <filter>
    <filter-name>ViewerFilter</filter-name>
    <filter-class>org.eclipse.birt.report.filter.ViewerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ViewerFilter</filter-name>
    <servlet-name>ViewerServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ViewerFilter</filter-name>
    <servlet-name>EngineServlet</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>org.eclipse.birt.report.listener.ViewerServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.eclipse.birt.report.listener.ViewerHttpSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ViewerServlet</servlet-name>
    <servlet-class>org.eclipse.birt.report.servlet.ViewerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EngineServlet</servlet-name>
    <servlet-class>org.eclipse.birt.report.servlet.BirtEngineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewerServlet</servlet-name>
    <url-pattern>/frameset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewerServlet</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/preview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/parameter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/document</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/extract</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/birt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/birt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>validateReportServlet</display-name>
    <servlet-name>validateReportServlet</servlet-name>
    <servlet-class>org.quinnox.controller.validateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateReportServlet</servlet-name>
    <url-pattern>/validateReportServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>org.quinnox.controller.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oauth2callback</display-name>
    <servlet-name>Oauth2callback</servlet-name>
    <servlet-class>org.quinnox.controller.Oauth2callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oauth2callback</servlet-name>
    <url-pattern>/Oauth2callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GettingJqueryValues</display-name>
    <servlet-name>GettingJqueryValues</servlet-name>
    <servlet-class>org.quinnox.controller.GettingJqueryValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingJqueryValues</servlet-name>
    <url-pattern>/GettingJqueryValues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GettingFolderWiseCountServlet</display-name>
    <servlet-name>GettingFolderWiseCountServlet</servlet-name>
    <servlet-class>org.quinnox.controller.GettingFolderWiseCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingFolderWiseCountServlet</servlet-name>
    <url-pattern>/GettingFolderWiseCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GettingOverallCountServlet</display-name>
    <servlet-name>GettingOverallCountServlet</servlet-name>
    <servlet-class>org.quinnox.controller.GettingOverallCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingOverallCountServlet</servlet-name>
    <url-pattern>/GettingOverallCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFileListBasedOnFolderNameServlet</display-name>
    <servlet-name>GetFileListBasedOnFolderNameServlet</servlet-name>
    <servlet-class>org.quinnox.controller.GetFileListBasedOnFolderNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileListBasedOnFolderNameServlet</servlet-name>
    <url-pattern>/GetFileListBasedOnFolderNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GettingFolderNamesServlet</display-name>
    <servlet-name>GettingFolderNamesServlet</servlet-name>
    <servlet-class>org.quinnox.controller.GettingFolderNamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingFolderNamesServlet</servlet-name>
    <url-pattern>/GettingFolderNamesServlet</url-pattern>
  </servlet-mapping>
</web-app>